<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*@Styles.Render("~/Content/css")*@
  
    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="/assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body class="sticky-header no-scroll">
    <!-- Pulse Preloader -->
    <div class="preloader-wrap">
        <div class="pulse"></div>
    </div>
    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">
        <!--logo-->
        <div class="logo">
            @*<a href="index.html"><img width="81%" s src="~/NicaWallet.png" alt=""></a>*@
            <i class="icon-wallet"></i> NICAWALLET
        </div>
        <div class="logo-icon text-center">
            @*<a href="index.html"><img src="~/NicaWallet.png" alt=""></a>*@
            <i class="icon-wallet"></i> 
        </div>
        <!--logo-->
        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li>
                    <a href="/Dashboard"><i class="icon-chart"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Records"><i class="ti-credit-card"></i> <span>Records</span></a>
                </li>
                <li>
                    <a href="/Categories"><i class="icon-layers"></i> <span>Categorias</span></a>
                </li>
                <li><a href="/Cuenta"><i class="icon-note"></i> <span>Cuentas</span></a></li>
              @*  <li><a href="/Currency"><i class="icon-settings"></i> <span>Currency</span></a></li>*@
            </ul>
            <!--End sidebar nav-->
        </div>
    </div>
    <!--End left side menu-->
    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <div class="header-section">
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->
        <!--body wrapper start-->
        <div class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">@ViewBag.Title</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Dashboard">Inicio</a>
                    </li>

                    <li class="active">
                       @ViewBag.Title
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->
            <!--Start body-->
            @RenderBody()
            <!--End row-->


        </div>
        <!-- End Wrapper-->
        <!--Start  Footer -->
        <footer class="footer-main"> 2017 &copy; NicaWallet	</footer>
        <!--End footer -->
    </div>
    <!--End main content -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!--Begin core plugin -->
    @Scripts.Render("~/bundles/modernizr")
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/plugins/sweetalert/sweet-alert.js"></script>
    <script src="/assets/js/functions.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>

    <!-- End core plugin -->

    @RenderSection("scripts", required: false)
</body>
