@model IEnumerable<NicaWallet.Models.Record>

@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<div class="white-box">
    <p>

        <a href="/Records/Create" class="btn btn-primary outline-btn round">
            <i class="icon-plus" aria-hidden="true"></i>  Crear Nueva record
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cuenta
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Moneda
                </th>
                <th>
                    Monto
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentType)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountName)
                </td>
                <td class="text-center">
                    <div class="column-icon">
                        <div class="circle " style="background-color: rgb(244, 67, 54);">
                            <span class="category-icon @Html.DisplayFor(modelItem => item.Category.CategoryIcon)"></span>
                        </div>
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </td>
                <td>
                    @(item.PaymentType == true ? "+" : "-")   @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td class="text-center">
                    <i style="font-size:22px;" class="@(item.PaymentType == true ? "icon-arrow-up-circle green" : " icon-arrow-down-circle red")"></i>
                </td>
                <td>
                    <a href="/Records/Edit/@item.RecordId" data-toggle="tooltip" title="Editar" RecordId="@item.RecordId" class="btnUpdate btn btn-info outline-btn round"><i class="icon-note" aria-hidden="true"></i></a>
                    <button data-toggle="tooltip" title="Eliminar" type="button" class="btn btn-danger outline-btn round btnDelete" RecordId="@item.RecordId"> <i class="icon-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
        //Delete Category
        $('.btnDelete').click(function () {
            var recordId = $(this).attr('RecordId');
            var url = "/Records/Delete";
            swal({
                title: "Alerta",
                text: "Estas seguro que quieres eliminar este registro?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: url,
                            data: { 'recordId': recordId },
                            type: "post",
                            cache: false
                        }).success(function (response) {
                            if (response.ResponseCode == "200") {
                                swal("Buen trabajo!", "Se elimino correctamente!", "success");
                                $('.confirm ').click(function () {
                                    location.reload(); 
                                });
                            }
                        }).error(function (error) {
                            swal("Aviso!", "Ah ocurrido un error, Intentelo de nuevo", "error");
                        });
                        return true;
                    } else {
                        swal("Cancelled", "Tus datos estan a salvo :)", "error");
                    }
                });

        });
    </script>
}
