@model IEnumerable<NicaWallet.Models.Account>
@using NicaWallet.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Cuentas</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<a href="/Cuenta/Create" class="btn btn-primary outline-btn round">
    <i class="icon-plus" aria-hidden="true"></i>  Crear Nueva Cuenta
</a>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountType.AccountTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.CurrencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>*@

<div class="row" style="margin-top:10px">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div class="white-box" style="border-bottom: 6px solid @item.Color">
                <h2 class="header-title">@item.AccountName</h2>
                <div class="">
                    <div class="inbox-inner">
                        <a href="/Records?accountId=@item.AccountId" data-toggle="tooltip" title="Ver records">
                            <div class="inbox-item">
                                <div class="icon-account-dashboard" style="background-color:@item.Color">
                                    <i class="category-icon @item.AccountType.AccountIcon"></i>
                                </div>

                                <div class="inbox-item-info">
                                    @Html.MostrarCuenta(@item.Currency.CurrencyName, @item.Amount, @item.AccountType.AccountTypeName, @item.LastUpdate.ToShortDateString(), @item.AccountId)
                                    @*<p class="author">@item.Currency.CurrencyName @item.Amount</p>
                                    <p class="inbox-message">@item.AccountType.AccountTypeName</p>
                                    <p class="inbox-date">@item.LastUpdate.ToShortDateString()</p>

                                    <a href="/Cuenta/Edit?id=@item.AccountId" class="btn btn-info outline-btn round" style="float:right;"><i class="icon-note" aria-hidden="true"></i>Edit</a>
                                    <a AccountId="@item.AccountId" class="btn btn-danger outline-btn round btnDelete" style="float:right;margin-right: 10px;"><i class="icon-note" aria-hidden="true"></i>Delete</a>*@

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType.AccountTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })
                </td>
            </tr>*@
    }

</div>
@section scripts{
    <script>
        $('.btnDelete').click(function () {
            var AccountId = $(this).attr('AccountId');
            var url = "/Cuenta/Delete";
            swal({
                title: "Alerta",
                text: "Estas seguro que quieres eliminar esta cuenta?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: url,
                            data: { 'AccountId': AccountId },
                            type: "post",
                            cache: false
                        }).success(function (response) {
                            if (response.ResponseCode == "200") {
                                swal("Buen trabajo!", "Se elimino correctamente!", "success");
                                location.reload();
                            } else {
                                swal("Aviso!", "No encontramos esta cuenta, por favor vuelva a intentar", "info");
                            }
                        }).error(function (error) {
                            swal("Aviso!", "Ah ocurrido un error, Intentelo de nuevo", "error");
                        });
                        return true;
                    } else {
                        swal("Cancelled", "Tus datos estan a salvo :)", "error");
                    }
                });

        });
    </script>
}
